.chat-page {
  border-style: solid;
  border-color: #f0727296;
  box-shadow: 0 0.5em 1.3em -0.1em #d07c7c;
  border-radius: 10px;
}

.chat-page .header {
  background: transparent;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.chat-page .header .logo {
  font-size: 25px;
  color: rgb(255, 252, 221);
  font-weight: 500;
}

.chat-page .header button {
  padding: 5px 10px;
  border: 1px solid #f3c5d4;
  border-radius: 10px;
  background: transparent;
  color: #f3c5d4;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.chat-page .header button:hover {
  border-color: #da75af;
  color: #edb4d5;
  font-weight: 700;
  box-shadow: 0 0.3em 0.3em -0.6em #d1a2bd;
  transform: translateY(-0.2em);
  cursor: pointer;
}

.chat-page .messages {
  width: 100%;
  height: calc(100% - 100px);
  background: rgb(234, 232, 216);
  overflow: auto;
}

.chat-page .messages .message {
  display: flex;
  padding: 10px;
}

.chat-page .messages .message > div {
  max-width: 80%;
  background: rgb(186, 139, 139);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px;
}

.chat-page .messages .message.my-message {
  justify-content: flex-end;
}

.chat-page .messages .message.other-message {
  justify-content: flex-start;
}

.chat-page .messages .message .name {
  font-size: 13px;
  color: rgb(79, 79, 79);
  font-style: oblique;
}

.chat-page .messages .message .text {
  word-wrap: break-word;
}

.update {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

.chat-page .typebox {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: transparent;
}

.chat-page .typebox input {
  flex: 1;
  margin: 5px;
  height: 40px;
  font-size: 16px;
  color: rgb(255, 252, 221);
  background-color: transparent;
  border: 2px solid #f3c5d4;
  border-radius: 10px;
  /* border-bottom-left-radius: 10px; */
}

.chat-page .typebox button {
  width: 70px;
  height: 40px;
  margin: 5px;
  background: transparent;
  color: #f3c5d4;
  font-size: 16px;
  border: 2px solid #f3c5d4;
  border-radius: 10px;
  cursor: pointer;
}

.chat-page .typebox button:hover {
  border-color: #da75af;
  color: #edb4d5;
  font-weight: 700;
  box-shadow: 0 0.5em 0.5em -0.6em #d1a2bd;
  transform: translateY(-0.2em);
  cursor: pointer;
}
