#emoji-picker {
  position: absolute;
  bottom: 138px;
  right: 333px;
  width: 265px;
  height: 280px;
  background-color: white;
  border: 1px solid gray;
  overflow: auto;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.emoji-picker-closed {
  transform: translateY(1%);
  visibility: collapse;
}

#emoji-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.emoji {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

#emoji-button {
  /* position: absolute;
  bottom: 5px;
  right: 5px; */
  height: 40px;
  width: 40px;
  cursor: pointer;
}
