.app > .screen {
  display: none;
}

.app > .screen.active {
  display: block;
  width: 100%;
  height: 80%;
  margin-top: 80px;
}

.screen .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-style: solid;
  border-color: #f07272;
  box-shadow: 0 0.5em 1.3em -0.4em #e88282;
  border-radius: 10px;
}

.screen .form-input {
  width: 100%;
  margin: 20px 0px;
}

.screen h2 {
  margin-bottom: 20px;
  margin-inline: 39%;
  font-size: 30px;
  color: rgb(255, 252, 221);
  /* border-bottom: 4px solid #555; */
  padding: 5px 0px;
  display: inline-block;
}

.screen .form-input label {
  display: block;
  margin-bottom: 5px;
  margin-inline: 20px;
  color: rgb(255, 252, 221);
}

.screen .form-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(234, 232, 216);
}

.screen .form-input button {
  margin-inline: 38%;
  background: none;
  color: #f3c5d4;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5em 2em;
  font-size: 1em;
  transition: color 0.25, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.screen .form-input button:hover {
  border-color: #da75af;
  color: #edb4d5;
  font-weight: 700;
  box-shadow: 0 0.5em 0.5em -0.4em #d397b9;
  transform: translateY(-0.2em);
  cursor: pointer;
}
